#!/bin/bash
# Install Vault CLI
apt update && apt install -y unzip
curl -O https://releases.hashicorp.com/vault/1.18.1/vault_1.18.1_linux_amd64.zip
unzip vault_1.18.1_linux_amd64.zip
mv vault /usr/local/bin/
rm -f vault_1.18.1_linux_amd64.zip

# Install AWS CLI
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
./aws/install
rm -rf awscliv2.zip aws/

# Set VAULT_ADDR environment variable for all users
echo 'export VAULT_ADDR="http://${vault_server_private_ip}:8200"' >> /etc/profile.d/vault.sh
