#!/bin/bash
# Install Vault
apt update && apt install -y gpg wget
wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
gpg --no-default-keyring --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg --fingerprint
echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list
apt update && apt install -y vault
# Create Vault configuration file
mkdir -p /etc/vault.d
cat <<CONFIG | tee /etc/vault.d/vault-config.hcl > /dev/null
listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = true
}

storage "inmem" {}

ui = true

disable_mlock = true
CONFIG
# Start Vault
sleep 5
vault server -config=/etc/vault.d/vault-config.hcl | tee /var/log/vault.log > /dev/null &